@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Heebo&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: rgb(54, 54, 54);
  color: #fff;
}
